In [4]:
import pandas as pd 
import numpy as np

location = ["sector 70 Mohali","sector 80 Mohali", "sector 72 Mohali","sector 75 Mohali","sector 40 Mohali"]
    
# Define a dictionary containing  data 
data = {'City':location} 
    
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data) 
    
# Observe the result 
df

               City
0  sector 70 Mohali
1  sector 80 Mohali
2  sector 72 Mohali
3  sector 75 Mohali
4  sector 40 Mohali

In [5]:
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

# declare an empty list to store
# latitude and longitude of values
# of city column
longitude = []
latitude = []

# function to find the coordinate
# of a given city
def findGeocode(city):
	
	# try and catch is used to overcome
	# the exception thrown by geolocator
	# using geocodertimedout
	try:
		
		# Specify the user_agent as your
		# app name it should not be none
		geolocator = Nominatim(user_agent="your_app_name")
		
		return geolocator.geocode(city)
	
	except GeocoderTimedOut:
		
		return findGeocode(city)	

# each value from city column
# will be fetched and sent to
# function find_geocode
for i in (df["City"]):
	
	if findGeocode(i) != None:
		
		loc = findGeocode(i)
		
		# coordinates returned from
		# function is stored into
		# two separate list
		latitude.append(loc.latitude)
		longitude.append(loc.longitude)
	
	# if coordinate for a city not
	# found, insert "NaN" indicating
	# missing value
	else:
		latitude.append(np.nan)
		longitude.append(np.nan)

In [7]:
print(longitude)
print(latitude)
df["Longitude"] = longitude
df["Latitude"] = latitude
  
df

[76.7148685, 76.7180228, 76.7045259, 76.69264812263654, 76.7266945]
[30.6975638, 30.6722089, 30.7097775, 30.702468, 30.6700854]

               City  Longitude   Latitude
0  sector 70 Mohali  76.714868  30.697564
1  sector 80 Mohali  76.718023  30.672209
2  sector 72 Mohali  76.704526  30.709778
3  sector 75 Mohali  76.692648  30.702468
4  sector 40 Mohali  76.726694  30.670085

In [8]:
route = [[0,2,1,0],[0,3,0]]

In [9]:
lat_long=[]
for i in route:
    l =[]
    for j in i:
        temp = []
        temp.append(latitude[j])
        temp.append(longitude[j])
        l.append(temp)
    lat_long.append(l)
print(lat_long)

[[[30.6975638, 76.7148685], [30.7097775, 76.7045259], [30.6722089, 76.7180228], [30.6975638, 76.7148685]], [[30.6975638, 76.7148685], [30.702468, 76.69264812263654], [30.6975638, 76.7148685]]]